doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='javascripts/jquery-ui-1.10.4.custom/css/pepper-grinder/jquery-ui-1.10.4.custom.min.css')
		link(rel='stylesheet', href='javascripts/bootstrap/css/bootstrap.min.css')

		script(src='javascripts/jquery_1_9_1.js', type='text/javascript')
		script(src='javascripts/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js', type='text/javascript')
		script(src='javascripts/bootstrap/js/bootstrap.min.js', type='text/javascript')
		script(src='javascripts/site.js', type='text/javascript')


	body
		include index.html
