<style>
iframe {
	overflow:hidden;
	border:none;
	width:100%;
	height:1000px;"
}
</style>
<div style='margin-bottom: 30px;'>&nbsp;</div>
<div class='container-fluid'>
	<div class='row' style='margin-bottom:20px'>
		<div class='col-xs-8'>
	    	<input type="text" class="form-control col-xs-6" id="txtSearch" placeholder='Enter your search'>
		</div>
	</div>
	<div class='row' id='divWikiResults'>
		<div class='col-xs-8'>
			<iframe id='divWikiPage'></iframe>
		</div>		
		<div class='col-xs-4'>
			<div id="youtube_video" style='display: none;'>
			<!-- <iframe id="ytplayer" type="text/html" width="425" height="349"
			  src="http://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com"
			  frameborder="0"/> -->
			</div>
			<div id="video_playlist" style='height:1000px; overflow: auto; font-size: 0.9em'>
				&nbsp;
				<!-- <div class="media">
				  <a class="pull-left" href="#">
				    <img src="https://i.ytimg.com/vi/a8arvEzHsA8/default.jpg" alt="Fleetwood Mac - Don't Stop" class="img-thumbnail" />
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Fleetwood Mac - Don't Stop</h4>
				    A live performance of Fleetwood Mac's classic hit, 'Don't Stop' with help from the University of Southern California's Trojans Marching Band For More Informa...
				  </div>
				</div> -->
			<div>

		</div>
	</div>
</div>